[submodule "candl"]
    path = candl
    url = git@github.com:JYKim1124/candl.git
[submodule "clan"]
	path = clan
	url = https://github.com/periscop/clan.git
[submodule "openscop"]
	path = openscop
	url = https://github.com/periscop/openscop.git
